# Python / ML Service

pandas                     # Data wrangling
numpy                      # Numerical computation
matplotlib                # Visualization
seaborn                   # Advanced plotting
plotly                    # Interactive visualizations
graphviz                 # Graph visualization
dash                     # Web-based data visualization
scikit-learn              # Baseline ML utilities
xgboost                   # Model of choice for forecasting
catboost                  # Gradient boosting for categorical features
statsmodels               # Time-series statistical modeling
scipy                     # Scientific computing
tqdm                      # Progress bars
joblib                     # Model serialization
gdown                      # Kaggle/download utilities
dvc                       # Data versioning
mlflow            # Model lifecycle and experiment tracking
dagshub                   # Integrate MLflow/DVC
pyyaml                    # Configuration files
ensure              # Validation
types-PyYAML              # Type hinting for PyYAML
opendatasets              # Download datasets from Kaggle and other sources
dotenv  
python-box                   # Environment variable management


# Backend Framework for APIs

fastapi                      # REST APIs for serving ML
uvicorn                      # ASGI server for fastapi

# Additional Tools

npm
notebook                  # For EDA and experimentation

# -e .


# Install critical packages via conda first
# conda install -c conda-forge pyarrow pandas numpy matplotlib seaborn plotly scikit-learn xgboost statsmodels scipy

# Then install the rest via pip
# pip install mlflow==2.2.2 dagshub catboost gdown dvc tqdm joblib pyyaml fastapi uvicorn notebook graphviz dash ensure==1.0.2 types-PyYAML opendatasets python-dotenv
